@font-face {
  font-family: "Shippori-Antique";

  src: url("../fonts/Shippori_Antique/ShipporiAntique-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";

  src: url("../fonts/Lato/Lato-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "JetBrains-Mono";

  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf")
    format("truetype");
}
