@import "./colors";
@import "./fonts";
@import "./utilities.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-black;
  color: $main-white;
  font-family: "Shippori-Antique", sans-serif;
}

#logo-header {
  height: 55px;
}

.navbar {
  background: $main-black;
}

.nav-link {
  color: $main-white;
  transition: all 0.4s;
  margin-right: 10px;

  &:hover {
    color: $primary-green;
  }
}

.navbar-toggler {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.bi-list {
  color: $main-white;
  font-size: 3rem;
}

.btn-outline-success {
  border: 2px solid $primary-green;
  color: $primary-green;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $primary-green;
    color: $main-black;
    border: 2px solid $primary-green;
  }
}

.btn-success {
  background: $primary-green;
  color: $main-black;
  transition: all 1s ease;

  i {
    font-size: 1.25rem;
  }

  &:hover {
    background: $primary-green;
    color: $main-black;
    transform: scale(1.2);
  }
}

.custom-list {
  list-style-image: url("../img/cube.png");
}

img[alt="Foto Retrato"] {
  border-left: 4px solid $main-black;
}

h3 {
  font-size: 2vw;
}

@media screen and (max-width: 767px) {
  #logo-header {
    height: 60px;
  }

  .grouper {
    text-align: center;

    img {
      max-width: 90%;
    }
  }

  h3 {
    font-size: 3vw;
  }

  .custom-list {
    font-size: 2.5vw;
  }

  img[alt="Foto Retrato"] {
    border: none;
  }
}
