@import './colors';
@import './fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-black;
  color: $main-white;
  font-family: "Shippori-Antique", sans-serif;
}

#logo-header {
  height: 55px;
}

.navbar {
  background: $main-black;
}

.nav-link {
  color: $main-white;
  transition: all 0.4s;
  margin-right: 10px;

  &:hover {
    color: $primary-green;
  }
}

.navbar-toggler {
  border: none;
}

.bi-list {
  color: $main-white;
  font-size: 3rem;
}

.btn-outline-success {
  border: 2px solid $primary-green;
  color: $primary-green;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $primary-green;
    color: $main-black;
    border: 2px solid $primary-green;
  }
}

@media screen and (max-width: 767px) {
  #logo-header {
    height: 60px;
  }
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains-Mono", 'Courier New', Courier, monospace;
}

.text-sec-green {
  color: $secondary-green;
}
