.font-lato {
  font-family: "Lato", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains-Mono", 'Courier New', Courier, monospace;
}

.text-sec-green {
  color: $secondary-green;
}

.text-dark {
  color: $main-black;
}

.bg-green {
  background-color: $primary-green;
}

@media screen and (max-width: 767px) {
  .h3-title {
    font-size: 1rem;
  }
}